<form action="/result" method="post">
  <h2 class="play_title">Okay <%= @game.player.name %>, please select your weapon</h2>
  <div class="weapon_choices">
  <label>
    <input type="radio" name="weapon" value="<%= Game::CHOICES[0] %>">
    <%= Game::CHOICES[0].capitalize %>
  </label>
  <label>
    <input type="radio" name="weapon" value="<%= Game::CHOICES[1] %>">
    <%= Game::CHOICES[1].capitalize %>
  </label>
  <label>
    <input type="radio" name="weapon" value="<%= Game::CHOICES[2] %>">
    <%= Game::CHOICES[2].capitalize %>
  </label>
  </div>
  <input type="submit" class="btn btn-sdefault btn-primary" value="Let's do this!">
</form>
